IO_LOC "led" 10;
IO_PORT "led" PULL_MODE=NONE DRIVE=8;

IO_LOC "hdmi_p[0]" 71,70;
IO_PORT "hdmi_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "hdmi_p[1]" 73,72;
IO_PORT "hdmi_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "hdmi_p[2]" 75,74;
IO_PORT "hdmi_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "hdmi_p[3]" 69,68;
IO_PORT "hdmi_p[3]" PULL_MODE=NONE DRIVE=8;

IO_LOC "clk_27mhz" 52;
IO_PORT "clk_27mhz" IO_TYPE=LVCMOS33 PULL_MODE=UP;
